/*Code written by Adam Betinsky */

body {
  background-image: url("../images/backgroundPictures/HumanResources.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Full-width inputs */
input[type=email], input[type=text], input[type=password] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.mainStuff {
  margin: 50px;
  text-align: center;
  position: relative;
}