/*Code written by Adam Betinsky */

body {
  background-image: url("../images/background/hec-conf-room.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

/*Add header at the end, don't worry about this now.*/

.mainStuff {
  margin: 50px;
  text-align: left;
  position: relative;
  color: green;
  margin-top: 150px;
}

.info{

}

.bio{

}